.wrapper {
  display: grid;
  grid-template-columns: repeat(4, 1fr) 200px;
  padding: 1rem;
  margin: 1rem 5rem;
}

.wrapperItems {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  padding: 1rem;
  margin: 0.5rem 5rem;
  cursor: pointer;
}

.wrapper p {
  font-weight: 500;
}

.wrapper span {
  font-weight: 600;
}

.wrapperItems:hover {
  background-color: rgb(231, 231, 231);
}